:root {
    /* Font weights and sizes */
    --Text-HeadingLarge: 700 26px/1.4;
    --Text-HeadingMedium: 700 22px/1.4;
    --Text-HeadingSmall: 700 18px/1.4;
    --Text-BodyLarge: 400 16px/1.4;
    --Text-BodyMedium: 400 14px/1.4;
    --Text-BodySmall: 400 12px/1.4;

    /* Colors */
    --Color-TextMain: #F3F3F3;
    --Color-TextDim: #76808C;
    --Color-BgMain: #0E141B;
    --Color-BgHighlight: #1E2329;
    --Color-BgHover: #313843;
    --Color-BgSecondary: #14344B;
    --Color-BgTertiary: #212B54;
    --Color-Primary: #66C0F4;
    --Color-Secondary: #4B619B;
    --Color-AccentGreen: #A1CD44;
    --Color-AccentRed: #CD5444;
    --Color-AccentYellow: #C1B15F;
}